<h2>Players</h2>
<app-add-player *ngIf="this.adminService.adminMode" (playerAdded)="playerAdded($event)"></app-add-player>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-xs-1">#</th>
        <th class="col-xs-7">Name</th>
        <th class="col-xs-4">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{player.rank}}</td>
        <td>{{player.name}}</td>
        <td>{{player.rating}}</td>
      </tr>
    </tbody>
  </table>
</div>
